<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='maths-game/styling.css') }}">
    <title>MathQuiz</title>
</head>
<body>
    <div id="container">
        <div id="score">
            score: <span id="scorevalue">0</span>
        </div>
        <div id="correct">
            correct
        </div>
        <div id="wrong">
            wrong
        </div>
        <div id="Qshow">

        </div>
        <div id="result">
            show anwser
        </div>
        <div id="choices">
            <div id="box1" class="box"></div>
            <div id="box2" class="box"></div>
            <div id="box3" class="box"></div>
            <div id="box4" class="box"></div>
        </div>
        <div id="startreset">
            Start Game
        </div>
        <div id="timeremaining">
            Timer: <span id="timeremainingvalue">12</span> sec
        </div>
        <div id="gameover">

        </div>
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='maths-game/javascript.js') }}"></script>

</body>
</html>
