<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <title>Hello, world!</title>

    <style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 1px;
  text-align: center;
  background: #000000;
  color: white;
  font-size: 20px;
}

/* Page Content */
.content {padding:20px;}


    </style>

</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Kids Aptitude</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active">
                <a class="nav-link" href="javascript:showStudentForm();">Register Student and take test</a>
            </li>
        </ul>
    </div>
</nav>

<form style="margin:20px" id="student_form" action="/individual" method="post">
  <div class="form-row align-items-center">
    <div class="col-sm-6">
      <label class="sr-only" for="inlineFormInputGroup">Username</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Student Email</div>
        </div>
        <input type="text" class="form-control" name="email" id="inlineFormInputGroup" placeholder="Enter the student Email">
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-info mb-2">Submit</button>
    </div>
  </div>
    <input type="hidden" name="school_email" value="{{ school_email }}">
</form>

<div class="row" style="margin:10px;">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Students in your school
            </div>
            <div class="card-body">
                {% if list_of_students|length > 0 %}
                <ul>
                    {% for student in list_of_students %}
                    <li>
                        <h7 class="card-title" id="maths_status">{{ student }}</h7>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <h7 class="card-title" id="maths_status">No Student is Registered</h7>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="header">
    <p>Top Students in various Multiple Intelligence</p>
</div>

<div class="row" style="margin:10px;">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Visual Spatial Results
            </div>
            <div class="card-body">
                <h5 class="card-title">Testing your visual Skills</h5>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script type="text/javascript">

    $('#student_form').hide();

    function showStudentForm(){
        if ( $('#student_form').is(':visible') ){
            $('#student_form').hide();
        }else{
            $('#student_form').show();
        }
    }

</script>

</body>
</html>